@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgb(33, 8, 55);
    font-family: 'Chakra Petch', sans-serif;
}


.card {
   position:relative;
   top: 50px;
   

}



.card-body{
    position: relative;
    bottom: 22px;
}

#heroes{
    font-size: 100px;
    font-weight: bold;
}
#title{
    font-size: 70px;
    font-weight: bold;
}
#video{
 margin-top: 45px;
 border: 1px solid white;
 border-radius: 0px 8px 0px 8px;

}
 .cards{
    width: 25%;
    display: inline-block;
    padding: 10px;
    margin: 45px 0px 45px 0px;
   
    
 }
.video{
    width:100%;
    border-radius: 20px 0px  20px 0px;
    border: 4px solid white;
    
}